<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product image:</strong>
  <%= @product.product_image %>
</p>

<p>
  <strong>Product details:</strong>
  <%= @product.product_details %>
</p>

<p>
  <strong>Sales price:</strong>
  <%= @product.sales_price %>
</p>

<p>
  <strong>Regular price:</strong>
  <%= @product.regular_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
