<div class="container">
    <div class="row">
        <tbody>
          <tr>
            <td><%= image_tag(line_item.product.product_image_url, style:"width:180px;height:180px") %></td>
            <td style="color:black;"><%= line_item.product.product_name %></td>
            <td style="color:black;"><%= truncate(line_item.product.product_details, length: 140) %></td>
            <td style="color:black;"><%= number_to_currency(line_item.product.sales_price, :unit => "RWF") %></td>
            <%= form_with(model: line_item, local: true) do |form| %>
            <td style="color:black;"><%= form.number_field :quantity, size:"3" %></td>
            <td style="color:black;"><%= number_to_currency(line_item.total_price, :unit => "RWF") %></td>
            <td style="color:black;"><%= form.submit class:"btn btn-primary" %></td>
            <% end %>
            <td>
            <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-danger" %>
            </td>
          </tr>
        </tbody>
    </div>
</div>